.contact {
  border-top: 10px dotted white;
  border-left: 10px dotted white;
  width: 90%;
  margin: 20px;
  font-size: 1.8rem;
}

.address {
  margin: 20px
}

a {
  font-size: 2.2rem;
}

a:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgba(222, 59, 208, 1), 0 0 40px rgba(222, 59, 208, 1), 0 0 50px rgba(222, 59, 208, 1), 0 0 60px rgba(222, 59, 208, 1), 0 0 70px rgba(222, 59, 208, 1);
  transition: 666ms;
}

@media only screen and (max-width: 850px) {

  .contact {
    border-top: 5px dotted white;
    border-left: 5px dotted white;
  }

}