.skills {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
  padding: 30px 30px 0px 30px;
  margin: 20px;
  border-bottom: 10px dotted white;
  border-left: 10px dotted white;
}

.logo {
  text-align: center;
  margin: 20px;
}

.skill-logo {
  width: 100px;
  padding: 10px;
  background-color: white;
}

@media only screen and (max-width: 850px) {

  .skills {
    padding: 0px;
    margin: 20px;
    border-bottom: 5px dotted white;
    border-left: 5px dotted white;
  }
  
  .logo {
    text-align: center;
    margin: 20px;
  }
  
  .skill-logo {
    width: 100px;
    padding: 10px;
  }

}